<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103177011-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-103177011-1');
    </script>

  <meta charset="UTF-8">
  <!-- <meta property="og:url" content="{{url}}" /> -->
  <meta property="og:title" content="{{title}}" />
  <meta property="og:description" content="{{description}}" />
    
  <meta property="og:image" content="{{image}}" />
  <meta property="og:image:width" content="600">
  <meta property="og:image:height" content="315">
</head>

<script type="text/javascript">
    window.location.href = "{{url}}";
</script>
</html>